// Логотип
.logo {
    color: var(--logo-cl-secondary);

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;

    &:focus {
        outline-color: var(--main-bg-cl);
    }
}
.logo--black {
    color: var(--logo-cl-blakc);
}

.logo__cl-white {
    color: var(--logo-cl-white);
}

.logo--properties {
    display: block;
    margin-bottom: 20px;
}
